<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8" />
  <title>Express: URL-Parameter / Shop - Exercise</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style.css" />
</head>

<body>

<h1><%=  products[index].product_name %></h1>  
<p><%= products[index].product_desc %></p>  
<p><code><%= products[index].product_install %></code></p>  
<p><a href="<%= products[index].product_url %>"><%= products[index].product_url %></a></p>

</body>

</html>
